accelerate
ipykernel
jupyter
matplotlib
nids-datasets
numpy
pandas
pyarrow
requests
scapy
scikit-learn
scipy
seaborn
sentencepiece
tensorboard
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
wandb
